---
// src/layouts/Simple.astro
import HeadMaster from './HeadMaster.astro';
---
  
<html lang="en">
  <head>
    <HeadMaster />
  </head>
  <body>
    <div class="root">
      <slot />
    </div>
  </body>
</html>
